config:
  enabled: true
  logLevel: info
  logFormat: logfmt
  serverPort: 3101

  clients:
    - url: http://ubuntu-arm.tail991cf.ts.net:3100/loki/api/v1/push
      proxy_url: socks5h://127.0.0.1:1055

  positions:
    filename: /run/promtail/positions.yaml

  enableTracing: false

extraContainers:
  - name: tailscale
    image: tailscale/tailscale:latest
    securityContext:
      capabilities:
        add:
          - NET_ADMIN
          - NET_RAW
    env:
      - name: TS_AUTHKEY
        valueFrom:
          secretKeyRef:
            name: tailscale-auth
            key: authkey
    args:
      - tailscaled
      - "--state=/var/lib/tailscale/tailscaled.state"
      - "--socks5-server=localhost:1055"
    volumeMounts:
      - name: tailscale-state
        mountPath: /var/lib/tailscale

extraVolumes:
  - name: tailscale-state
    emptyDir: {}
