---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/services

- Hardware:
    - Proxmox:
        icon: /icons/proxmox.png
        href: https://proxmox.home/
        description: Server
        widget:
            type: proxmox
            url: "{{HOMEPAGE_VAR_PROXMOX_URL}}"
            username: "{{HOMEPAGE_VAR_PROXMOX_USER}}"
            password: "{{HOMEPAGE_VAR_PROXMOX_PASS}}"

    - PBS:
        icon: /icons/pbs.png
        href: https://pbs.home/
        description: Backup
        widget:
            type: proxmoxbackupserver
            url: "{{HOMEPAGE_VAR_PBS_URL}}"
            username: "{{HOMEPAGE_VAR_PBS_USER}}"
            password: "{{HOMEPAGE_VAR_PBS_PASS}}"
            datastore: pbs #optional; if ommitted, will display a combination of all datastores used / total

- Applications:
    - Adguard:
        icon: /icons/adguard-home.png
        href: https://adguard.home/
        description: DNS
        siteMonitor: https://adguard.home/
        #widget:
        #    type: adguard
        #    url: "{{HOMEPAGE_VAR_ADGUARD_URL}}"
        #    username: "{{HOMEPAGE_VAR_ADGUARD_USER}}"
        #    password: "{{HOMEPAGE_VAR_ADGUARD_PASS}}"

    - Caddy:
        icon: /icons/caddy.png
        description: Reverse Proxy
        ping: 192.168.1.20

    - Kavita:
        icon: /icons/kavita.png
        href: https://kavita.home/
        description: Books and Comics
        siteMonitor: https://kavita.home/
        #widget:
        #    type: kavita
        #    url: "{{HOMEPAGE_VAR_KAVITA_URL}}"
        #    username: "{{HOMEPAGE_VAR_KAVITA_USER}}"
        #    password: "{{HOMEPAGE_VAR_KAVITA_PASS}}"

    - Amule:
        icon: /icons/eMule.png
        href: https://amule.home/
        description: P2P
        siteMonitor: https://amule.home/

    - Vaultwarden:
        icon: /icons/vaultwarden.png
        href: https://vaultwarden.home/
        description: Password vault
        siteMonitor: https://vaultwarden.home/

    - Bookstack:
        icon: /icons/bookstack.png
        href: https://bookstack.home/
        description: Wiki
        siteMonitor: https://bookstack.home/

    - Handbrake:
        icon: /icons/handbrake.png
        href: https://handbrake.home/
        description: Transcoder
        siteMonitor: https://handbrake.home/

    - Nfs:
        icon: /icons/nfs.png
        description: Server
        ping: 192.168.1.26

    - Minio:
        icon: /icons/minio.png
        href: https://minio.home/
        description: S3
        siteMonitor: https://minio.home/

    - Infisical:
        icon: /icons/infisical.png
        href: https://infisical.home/
        description: Secrets
        siteMonitor: https://infisical.home/

    - Playground:
        icon: /icons/playground-1.png
        description: Testing
        ping: 192.168.1.21

    - Rancher:
        icon: /icons/rancher.png
        href: https://rancher.home/
        description: K8s
        siteMonitor: https://rancher.home/

- Kubernetes:
    - ArgoCD:
        icon: /icons/argocd.png
        href: https://argocd.home/
        description: GitOps
        siteMonitor: https://argocd.home/

    - Longhorn:
        icon: /icons/longhorn.png
        href: http://longhorn.home/
        description: Storage
        siteMonitor: http://longhorn.home/

    - Traefik:
        icon: /icons/traefik.png
        href: http://traefik.home/dashboard/#/
        description: Ingress
        siteMonitor: http://traefik.home/dashboard/#/


- Media:
    - Plex:
        icon: /icons/plex.png
        href: https://plex.home/
        description: Cinema
        siteMonitor: https://plex.home/
        widget:
           type: plex
           fields: ["movies", "tv"]
           url: "{{HOMEPAGE_VAR_PLEX_URL}}"
           key: "{{HOMEPAGE_VAR_PLEX_KEY}}"

    - Tautulli:
        icon: /icons/tautulli.png
        href: https://tautulli.home/
        description: Plex stats
        siteMonitor: https://tautulli.home/
        widget:
           type: tautulli
           url: "{{HOMEPAGE_VAR_TAUTULLI_URL}}"
           key: "{{HOMEPAGE_VAR_TAUTULLI_KEY}}"

    - Deluge:
        icon: /icons/deluge.png
        href: https://deluge.home/
        description: Torrents
        siteMonitor: https://deluge.home/
        widget:
           type: deluge
           fields: ["download", "upload", "seed", "leech"]
           url: "{{HOMEPAGE_VAR_DELUGE_URL}}"
           password: "{{HOMEPAGE_VAR_DELUGE_PASS}}"

    - Jackett:
        icon: /icons/jackett.png
        href: https://jackett.home/
        description: Indexers
        siteMonitor: http://jackett.home/
        #widget:
        #    type: jackett
        #    url: "{{HOMEPAGE_VAR_JACKETT_URL}}"

    - Sonarr:
        icon: /icons/sonarr.png
        href: https://sonarr.home/
        description: Series
        siteMonitor: https://sonarr.home/
        #widget:
        #    type: sonarr
        #    url: "{{HOMEPAGE_VAR_SONARR_URL}}"
        #    key: "{{HOMEPAGE_VAR_SONARR_KEY}}"

    - Radarr:
        icon: /icons/radarr.png
        href: https://radarr.home/
        description: Movies
        siteMonitor: https://radarr.home/
        #widget:
        #    type: radarr
        #    fields: ["wanted", "queued", "movies"]
        #    url: "{{HOMEPAGE_VAR_RADARR_KEY}}"
        #    key: "{{HOMEPAGE_VAR_RADARR_KEY}}"

- Monitoring:
    - Grafana:
        icon: /icons/grafana.png
        href: "{{HOMEPAGE_VAR_GRAFANA_HREF}}"
        description: Dashboards
        siteMonitor: "{{HOMEPAGE_VAR_GRAFANA_URL}}"
        #widget:
        #    type: grafana
        #    fields: ["dashboards", "datasources", "totalalerts"]
        #    url: "{{HOMEPAGE_VAR_GRAFANA_URL}}"
        #    username: "{{HOMEPAGE_VAR_GRAFANA_USER}}"
        #    password: "{{HOMEPAGE_VAR_GRAFANA_PASS}}"

    - Prometheus:
        icon: /icons/prometheus.png
        href: "{{HOMEPAGE_VAR_PROMETHEUS_URL}}"
        description: Metrics
        siteMonitor: "{{HOMEPAGE_VAR_PROMETHEUS_URL}}"
        #widget:
        #    type: prometheus
        #    url: "{{HOMEPAGE_VAR_PROMETHEUS_URL}}"

    - Loki:
        icon: /icons/loki.png
        href: "{{HOMEPAGE_VAR_LOKI_URL}}"
        description: Logs
        siteMonitor: "{{HOMEPAGE_VAR_LOKI_URL}}/ready"