prometheus:
  enabled: true

  agentMode: true

  prometheusSpec:
    remoteWrite: 
      - url: "http://ubuntu-arm.tail991cf.ts.net:9090/api/v1/write"

  ingress:
    enabled: false

kubeApiServer:
  enabled: true
  tlsConfig:
    serverName: kubernetes
    insecureSkipVerify: true

kubeControllerManager:
  enabled: true
  serviceMonitor:
    enabled: true
    insecureSkipVerify: true

kubeScheduler:
  enabled: true
  serviceMonitor:
    enabled: true
    insecureSkipVerify: true

prometheusOperator:
  enabled: true
  tls:
    enabled: false