version: '3.9'
services:
  handbrake:
    image: jlesage/handbrake
    container_name: handbrake
    restart: unless-stopped
    # Fix AppArmor issue inside LXC
    security_opt:
      - apparmor=unconfined
    # Pass GPU to container
    devices:
      - /dev/dri:/dev/dri
    ports:
      - "5800:5800"
    volumes:
      - ./config:/config:rw
      - /mnt/local-storage:/storage:ro
      - /mnt/local-storage/handbrake/watch:/watch:rw
      - /mnt/local-storage/handbrake/output:/output:rw

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    env_file: .env
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Madrid
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - WATCHTOWER_INCLUDE_STOPPED=true
      - WATCHTOWER_REVIVE_STOPPED=false
      - WATCHTOWER_NO_RESTART=false
      - WATCHTOWER_TIMEOUT=30s
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME=handbrake
      - WATCHTOWER_SCHEDULE=0 0 12 * * 0
      # included in .env file
      # - WATCHTOWER_NOTIFICATION_URL=