persistence:
  defaultClassReplicaCount: 1

longhornUI:
  replicas: 1

ingress:
  enabled: false

preUpgradeChecker:
  jobEnabled: false
  upgradeVersionCheck: true

defaultSettings:
  backupTarget: s3://longhorn@dummyregion/
  backupTargetCredentialSecret: longhorn-minio-credentials
