storageClass:
  create: true
  name: nfs-csi
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
  parameters:
    server: {{ (lookup "v1" "Secret" "kube-system" "nfs-config").data.NFS_SERVER | b64dec }}
    share: {{ (lookup "v1" "Secret" "kube-system" "nfs-config").data.NFS_PATH | b64dec }}
  reclaimPolicy: Delete
  volumeBindingMode: Immediate
  mountOptions:
    - nfsvers=4.1