apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: os-patching-manual
  namespace: system-upgrade
spec:
  concurrency: 1
  serviceAccountName: system-upgrade
  version: "ubuntu-22.04"
  nodeSelector:
    matchLabels:
      role: worker
    
  prepare:
    image: ubuntu:22.04
    command: [sh, -c]
    args:
      - apt-get update || true
  
  upgrade:
    image: ubuntu:22.04
    command: [sh, -c]
    args:
      - |
        apt-get -y upgrade
        if [ -f /var/run/reboot-required ]; then
          reboot
        fi
  
  drain:
    force: true
    deleteEmptydirData: true
    ignoreDaemonSets: true
    timeout: 900
  
  cordon: true