---
# Grant default ServiceAccount in system-upgrade the permissions needed for patching
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: system-upgrade-default-job
rules:
# Needed for patching operations on nodes
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: system-upgrade-default-job
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system-upgrade-default-job
subjects:
- kind: ServiceAccount
  name: default
  namespace: system-upgrade
